In [43]:
import pandas as pd
import numpy as np

In [44]:
data = np.load("ai_data_intelligence_phase1.npy")
df = pd.DataFrame(data, columns=["Feature1", "Feature2", "Feature3"])

In [45]:
print(df.head(20))

    Feature1  Feature2  Feature3
0         54        44       189
1         89        18       456
2         83        43       253
3         72        10       353
4         72        42       234
5         93        42       140
6         54        41       385
7         85        37       485
8         60        29       139
9         54        38       392
10        76        21       138
11        99        42       361
12        87        32       397
13        88        28       230
14        86        30       371
15        90        33       143
16        76        11        48
17        56        15        57
18        92        20       229
19        72        14       453

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Feature1  100 non-null    int64
 1   Feature2  100 non-null    int64
 2   Feature3  100 non-null    int64
dtypes: int64(3)
memory usage: 2.5 KB

In [47]:
print(df.describe())

         Feature1    Feature2    Feature3
count  100.000000  100.000000  100.000000
mean    76.300000   29.630000  245.020000
std     13.915691   11.373951  131.499432
min     52.000000   10.000000   19.000000
25%     65.750000   21.000000  140.750000
50%     76.000000   30.000000  244.000000
75%     88.250000   38.250000  353.500000
max     99.000000   50.000000  495.000000

In [52]:
#Checking for missing values
print('Before')
print(df.isna().sum())

#Creating some NaN
df.iloc[94, 0] = np.nan
df.iloc[5:15:3, 2] = np.nan
df.iloc[22:100:30, 1] = np.nan

print('\nAfter')
print(df.isna().sum())

Before
Feature1    0
Feature2    0
Feature3    0
dtype: int64

After
Feature1    1
Feature2    3
Feature3    4
dtype: int64

In [62]:
#Hadling NAN
df.fillna({
    "Feature1": round(df["Feature1"].mean(), 1),
    "Feature2": round(df["Feature2"].median(), 1)
}, inplace=True)


df.dropna(subset=["Feature3"], inplace=True)

print(df.shape)

(96, 4)

In [64]:
df["Feature4"] = df["Feature1"] * df["Feature3"]
df.rename(columns={0: 'Price',
                   2: 'Units Sold',
                   3: 'Revenue'}, inplace=True)
print(df.to_string())
df.to_csv("new_df.csv", index=False)

     Feature1  Feature2  Feature3      Feature4
0   54.000000      44.0     189.0  10206.000000
1   89.000000      18.0     456.0  40584.000000
2   83.000000      43.0     253.0  20999.000000
3   72.000000      10.0     353.0  25416.000000
4   72.000000      42.0     234.0  16848.000000
6   54.000000      41.0     385.0  20790.000000
7   85.000000      37.0     485.0  41225.000000
9   54.000000      38.0     392.0  21168.000000
10  76.000000      21.0     138.0  10488.000000
12  87.000000      32.0     397.0  34539.000000
13  88.000000      28.0     230.0  20240.000000
15  90.000000      33.0     143.0  12870.000000
16  76.000000      11.0      48.0   3648.000000
17  56.000000      15.0      57.0   3192.000000
18  92.000000      20.0     229.0  21068.000000
19  72.000000      14.0     453.0  32616.000000
20  75.000000      28.0      72.0   5400.000000
21  68.000000      37.0     233.0  15844.000000
22  59.000000      29.0     355.0  20945.000000
23  97.000000      29.0     109.0  10573.000000
24  89.000000      45.0     364.0  32396.000000
25  82.000000      33.0     160.0  13120.000000
26  70.000000      13.0     407.0  28490.000000
27  91.000000      41.0     294.0  26754.000000
28  77.000000      33.0     278.0  21406.000000
29  72.000000      36.0      96.0   6912.000000
30  72.000000      33.0     237.0  17064.000000
31  61.000000      32.0     430.0  26230.000000
32  54.000000      13.0      19.0   1026.000000
33  78.000000      32.0     382.0  29796.000000
34  95.000000      42.0     251.0  23845.000000
35  53.000000      22.0     363.0  19239.000000
36  93.000000      34.0     335.0  31155.000000
37  92.000000      11.0     222.0  20424.000000
38  64.000000      24.0     161.0  10304.000000
39  82.000000      27.0     318.0  26076.000000
40  58.000000      50.0      78.0   4524.000000
41  88.000000      18.0     296.0  26048.000000
42  85.000000      21.0      56.0   4760.000000
43  68.000000      26.0     329.0  22372.000000
44  53.000000      50.0     318.0  16854.000000
45  99.000000      44.0      51.0   5049.000000
46  72.000000      11.0     381.0  27432.000000
47  95.000000      19.0     214.0  20330.000000
48  84.000000      43.0     396.0  33264.000000
49  89.000000      12.0      30.0   2670.000000
50  88.000000      45.0      98.0   8624.000000
51  59.000000      21.0     252.0  14868.000000
52  68.000000      29.0     102.0   6936.000000
53  73.000000      22.0     171.0  12483.000000
54  75.000000      27.0     334.0  25050.000000
55  52.000000      37.0      80.0   4160.000000
56  77.000000      15.0     342.0  26334.000000
57  57.000000      32.0      60.0   3420.000000
58  87.000000      30.0      96.0   8352.000000
59  84.000000      42.0     298.0  25032.000000
60  97.000000      50.0     399.0  38703.000000
61  87.000000      37.0      93.0   8091.000000
62  68.000000      26.0     157.0  10676.000000
63  99.000000      26.0     464.0  45936.000000
64  70.000000      27.0     495.0  34650.000000
65  66.000000      43.0     295.0  19470.000000
66  96.000000      23.0     229.0  21984.000000
67  68.000000      16.0     180.0  12240.000000
68  53.000000      23.0     310.0  16430.000000
69  73.000000      10.0     300.0  21900.000000
70  90.000000      14.0     154.0  13860.000000
71  59.000000      13.0      21.0   1239.000000
72  73.000000      41.0      84.0   6132.000000
73  56.000000      39.0     480.0  26880.000000
74  85.000000      38.0     215.0  18275.000000
75  74.000000      28.0     246.0  18204.000000
76  66.000000      39.0     239.0  15774.000000
77  61.000000      16.0     394.0  24034.000000
78  78.000000      46.0      41.0   3198.000000
79  84.000000      30.0      50.0   4200.000000
80  97.000000      48.0     145.0  14065.000000
81  72.000000      16.0     248.0  17856.000000
82  58.000000      29.0     339.0  19662.000000
83  92.000000      38.0     250.0  23000.000000
84  82.000000      30.0     226.0  18532.000000
85  85.000000      28.0     470.0  39950.000000
86  54.000000      16.0      89.0   4806.000000
87  65.000000      25.0     290.0  18850.000000
88  89.000000      19.0     276.0  24564.000000
89  92.000000      22.0     242.0  22264.000000
90  72.000000      38.0     406.0  29232.000000
91  91.000000      35.0     141.0  12831.000000
92  92.000000      34.0     478.0  43976.000000
93  69.000000      24.0     172.0  11868.000000
94  76.111111      49.0     277.0  21082.777778
95  64.000000      13.0     265.0  16960.000000
96  62.000000      24.0     427.0  26474.000000
97  84.000000      14.0     225.0  18900.000000
98  82.000000      23.0     149.0  12218.000000
99  57.000000      49.0      20.0   1140.000000

In [22]:
#Commpute Statistics

stats_df = pd.DataFrame({"Mean": df.mean(),
                         "Median": df.median(),
                         "Variance": df.var(),
                         "Std Dev": df.std()})
print("Feature Statistics:\n", stats_df)

Feature Statistics:
                     Mean   Median      Variance       Std Dev
Price          75.761574     75.5  1.856795e+02     13.626428
Feature2       29.104167     29.0  1.277154e+02     11.301122
Units Sold    244.697917    244.0  1.747701e+04    132.200654
Revenue     18557.966435  18875.0  1.113623e+08  10552.833776

In [23]:
correlation_matrix = df.corr()
print("\nCorrelation Matrix:\n", correlation_matrix)

Correlation Matrix:
                Price  Feature2  Units Sold   Revenue
Price       1.000000  0.064501    0.010808  0.318668
Feature2    0.064501  1.000000    0.003403  0.020836
Units Sold  0.010808  0.003403    1.000000  0.933911
Revenue     0.318668  0.020836    0.933911  1.000000